# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines for all files
[*]
end_of_line = lf


# Specific settings based on file extensions:

[*.cs]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
charset = utf-8
insert_final_newline = true

[*.txt]
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.{json,yml,yaml,ps1,csproj,py}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
charset = utf-8
insert_final_newline = true

[*.md]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = false
charset = utf-8
insert_final_newline = true
